body {
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #EBE6EA;
}

#container {
    position:relative;
    min-height: 100vh;
}

header{
    background-color: #000;
}

nav{
    display: block;
    width: 100%;
}

nav ul{
    display: flex;
    margin: 0;
    padding-left: 0;
}

nav ul li{
    padding: 20px 30px;
    list-style: none;
}

nav ul li:first-child{
    padding-left: 50px;
}

nav ul li:hover{
    background-color: #303030;
}

a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 30px;
    padding-bottom: 200px;
}

.imageText, .text {
    display: flex;
    padding: 10px 20px;
}

.imageText p{
    padding-left: 20px;
}

main p{
    text-align: justify;
}

main img {
    margin: 20px 0;
    margin-right: 15px;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #303030;
    color: #fff;
    font-size: 14px;
}

footer div{
    margin-right: 20px;
    padding: 0 30px;
    width: 25%;
}

footer div.tags{
    width: 50%;
}

footer p{
    margin: 10px 0;
}

.social{
    list-style: none;
    padding-left: 0;
}

.social li{
    margin: 0;
    padding: 3px 0;
}

/* Página Home */

.txtHome {
    display: flex;
}

.txtHome p, main h1 {
    padding: 10px 20px;
    text-align: justify;
}

/* Página de Contato*/

form {
    max-width: 500px;
    margin: auto;
}

form input, form select, form textarea{
    padding: 10px 15px;
    border: 1px #EBE6EA solid;
    border-radius: 8px;
    width: 100%;
}

form select {
    width: 106%;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #222;
    border-radius: 4px;
}

button:hover {
    background-color: #303030;
    cursor: pointer;
}